<!DOCTYPE html>
<html>
<head>
</head>
<body>
    <div class="container">
        <form method="POST">
          {% csrf_token %}
          현재 비밀번호 : 
          <input name="origin_password" type="password">
          <br><br>
          변경할 비밀번호 :
          <input name="new_password1" type="password">
          <br><br>
          비밀번호 확인 : 
          <input name="new_password2" type="password">
          <br><br>
          <input class="btn btn-primary" type="submit" value="변경"> 
        </form>
      </div>
</body>
</html>













