<!DOCTYPE html>
<head>
    <style>
        .hidden {
            display: none;
        }
    </style>
</head>
<body>
    {% block content %}
    <h2>비밀번호 변경</h2>
    <form method="post">
        {% csrf_token %}
        {{ password_change_form.as_p }}
        <button type="submit" onclick="hideErrorMessages()">비밀번호 변경</button>
    </form>

    <!-- 에러 메시지 표시 -->

    {% if password_change_form.errors %}
        <ul class="messages">
            {% for field in password_change_form %}
                {% if field.errors and (field.name == 'new_password1' or field.name == 'new_password2') %}
                    {% for error in field.errors %}
                        <li class="messages error">{{ error }}</li>
                    {% endfor %}
                {% endif %}
            {% endfor %}
        </ul>
    {% endif %}

    {% endblock %}
    <script>
        // 에러 메시지 숨기기
        function hideErrorMessages() {
            var messages = document.querySelectorAll('.messages.error');
            messages.forEach(function (message) {
                message.classList.add('hidden');
            });
        }
    </script>
    
</body>
</html>



