<!DOCTYPE html>
<head>

</head>
<body>
    <h1>마이페이지</h1>

    <!-- 프로필 사진 표시 -->
    {% if request.user.profile_image %}
        <img src="{{ request.user.profile_image.url }}" alt="Profile Image" width="100">
    {% else %}
        <p>프로필 사진 없음</p>
    {% endif %}

    <!-- 프로필 사진 변경 폼 -->
    <h2>프로필 사진 변경</h2>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ image_form.as_p }}
        <button type="submit">사진 변경하기</button>
    </form>

    <!-- 기본 프로필 정보 -->
    <p>아이디: {{ request.user.username }}</p>
    <p>닉네임: {{ request.user.nickname }}</p>
    <p>이메일: {{ request.user.email }}</p>

    <!-- 닉네임 변경 -->
    <a href="{% url 'accounts:change_nickname' %}">닉네임 변경</a>


    <!-- 사용자가 작성한 질문 
    <h2>내가 작성한 질문</h2>
    {% for question in questions %}
        <div>{{ question.content }}</div>
    {% endfor %}

     사용자가 작성한 답변 
    <h2>내가 작성한 답변</h2>
    {% for answer in answers %}
        <div>{{ answer.content }}</div>
    {% endfor %} -->

    <!-- 로그아웃 링크 -->
    <a href="{% url 'accounts:logout' %}">로그아웃</a>

</body>