<!DOCTYPE html>
<html>
<head>
    <title>회원가입</title>
</head>
<body>
    <div class="container">
        <h1>회원가입</h1>

        <form method="POST" action="{% url 'accounts:signup' %}">
            {% csrf_token %}
            ID : <br>
            <input name="username" type="text"><br>
            Nickname : <br>
            <input name="nickname" type="text"><br>
            Password : <br>
            <input name="password" type="password"><br>
            E-mail : <br>
            <input name="email" type="text"><br>
            <input type="submit" value="회원가입">
        </form>
    </div>
</body>
</html>
