* {
  margin: 0;
  padding: 0;
}
@font-face {
  font-family: "Pretendard-Regular";
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff")
    format("woff");
  font-weight: 500;
  font-style: normal;
}
input {
  width: 100%;
  border: none;
  border-radius: 8px;
  padding: 10px 12px;
  font-size: 14px;
  position: relative;
}
a {
  text-decoration-line: none;
}
body {
  font-family: "Pretendard-Regular";
}
.fix_area {
  position: sticky;
  top: 0;
  background-color: white;
}
.logo {
  position: sticky;
  width: 100%;
  padding-top: 10%;
  padding-bottom: 8%;
  display: flex;
  align-items: center; /* 세로 중앙 정렬 */
  background-color: white;
}
.logo_text {
  display: flex;
  flex: 1;
  font-size: 20px;
  font-weight: bold;
  align-items: center;
  justify-content: center;
}

.line {
  border-top: 1px solid #c9c8c8;
  width: 100%;
}
.sing_up {
  padding-top: 5%;
  overflow: hidden;
  margin-left: 20px;
  margin-right: 20px;
}
.password_text {
  padding-top: 5%;
  position: relative;
  padding-top: 5%;
  font-size: 15px;
  margin-left: 1%;
}
.password_text i {
  right: 18px;
  top: 63%;
  font-size: 1.2rem;
  color: #e3e3e3;
  cursor: pointer;
  position: absolute;
  transform: translateY(-50%);
}
.check_password {
  padding-top: 5%;
  position: relative; /* 이 줄 추가 */
  padding-top: 5%;
}
.check_password i {
  right: 18px;
  top: 63%;
  font-size: 1.2rem;
  color: #e3e3e3;
  cursor: pointer;
  position: absolute;
  transform: translateY(-50%);
}
.check_password i {
  right: 18px;
  top: 63%;
  font-size: 1.2rem;
  color: #e3e3e3;
  cursor: pointer;
  position: absolute;
  transform: translateY(-50%);
}
.new_password i {
  right: 18px;
  top: 63%;
  font-size: 1.2rem;
  color: #e3e3e3;
  cursor: pointer;
  position: absolute;
  transform: translateY(-50%);
}
.new_password {
  padding-top: 5%;
  position: relative; /* 이 줄 추가 */
  padding-top: 5%;
}

.password1 {
  width: 100%;
  height: 45px;
  border-radius: 12px;
  border-style: solid;
  border-color: #e3e3e3;
  border-width: 0.9px;
  padding-left: 15px; /* 여백의 크기를 조절할 수 있습니다 */
  box-sizing: border-box; /* padding과 border를 크기에 포함시킴 */
  transition: border-color 0.3s; /* 변화를 부드럽게 만들기 위한 트랜지션 */
  outline: none; /* 포커스 시 생기는 외곽선 제거 */
}
.password1:focus {
  border: solid 2px #2e7cf6;
}
.signup_con {
  padding-top: 1%;
  margin-left: 1%;
}
.signup_con p {
  color: #e3e3e3;
  font-size: 1.3rem;
}
.signup_con .require_list {
  margin-top: 20px;
}
.require_list li {
  font-size: 0.8rem;
  list-style: none;
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}
/* 조건 성림했을 때 */
.require_list li.valid i {
  font-size: 1.2rem;
  color: #5fb342;
}
.require_list li span {
  margin-left: 12px;
  color: black;
}
/* 조건 성림했을 때 */
.requirement-list li.valid span {
  color: #5fb342;
}
.require_list li i {
  width: 20px;
  color: black;
  font-size: 0.6rem;
}
.done_btn {
  width: 100%; /* 전체 너비에서 20px * 2 만큼 뺀 값 */
  bottom: 25px;
  position: fixed;
  box-sizing: border-box;
  /* 여백을 요소 크기에 포함시킴 */
  display: flex;
  justify-content: center;
  align-items: center; /* 세로로도 가운데 정렬 */
  padding-right: 20px;
  border-color: white;
}
.btn {
  width: 100%;
  background-color: #2e7cf6;
  color: white;
  border-radius: 12px;
  height: 46px;
  text-align: center; /* 텍스트 가운데 정렬 */
  align-items: center;
  justify-content: center;
}
