{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="{% static 'css/question_new.css' %}" />
    <title>새 질문 작성</title>
  </head>
  <body>
    <div class="row">
      <div class="col">
        <a class="menu">질문하기</a>
      </div>
      <div class="col2">
        <a href="https://aa">
          <img
            src="{{ request.user.get_image_url }}"
            alt="Profile Image"
            width="100"
          />
        </a>
      </div>
    </div>
    <div class="line"></div>

    <form
      action="{% url 'board:question_new' %}"
      method="post"
      enctype="multipart/form-data"
    >
      {% csrf_token %}
      <label for="title" class="Q">Q</label>
      <input
        type="text"
        name="title"
        id="title"
        class="questionInput"
        placeholder="질문을 입력해주세요"
        required
      />
      <br />
      <div class="picInput">
        <label for="images" class="text">사진 또는 동영상을 첨부해주세요</label>
        <br />
        <div class="info">
          최대 10장까지 첨부 할 수 있습니다
          <br />
          사진은 대표 한 장만 보입니다.
        </div>

        <div class="fileIn">
          <div class="file-upload preview-image">
            <label for="input-file"> 사진첨부 </label>
            <!-- <input multiple="multiple" type="file" name="images" id="images" accept="image/*"  class="upload-hidden" multiple required> -->
            <input
              multiple="multiple"
              type="file"
              name="images"
              accept="image/*"
              id="input-file"
              class="upload-hidden"
              multiple
              required
            />
          </div>
        </div>
      </div>
      <br />

      <label class="text2" for="content">자세한 설명을 적어주세요</label>
      <br />
      <textarea
        name="content"
        id="content"
        cols="40"
        rows="10"
        placeholder="모르는 부분을 꼼꼼하게 적어주실 수록, 더 꼼꼼한 답변을 얻을 수 있어요"
        required
      ></textarea>
      <br />

      <div class="wrapper">
        <input
          class="hash"
          type="text"
          id="hashtags"
          autocomplete="off"
          placeholder="해시태그를 입력 후 enter를 눌러주세요"
        />
        <div class="tag-container"></div>
      </div>
      <input type="submit" class="finishBtn" value="작성완료" />
      <div class="full"></div>
    </form>
    <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
    <script src="{% static 'js/question_new.js' %}"></script>
  </body>
</html>
